<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/asset-15.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Dev Marley Paranhos</title>
  </head>

  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/marley.jpeg" alt="Foto do Marley" />
        <h1>Marley Paranhos</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/marley-paranhos/"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/marley-paranhos">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/marleyparanhos/">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio"
              ><i class="bi bi-house" aria-hidden="true"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"
              ><i class="bi bi-person" aria-hidden="true"></i> Sobre</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades"
              ><i class="bi bi-list-check" aria-hidden="true"></i>
              Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo"
              ><i class="bi bi-file-earmark" aria-hidden="true"></i>
              Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"
              ><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato"
              ><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Marley Paranhos</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Desenvolvedor Back-End</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arrate para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Olá! Meu nome é Marley Paranhos, sou um desenvolvedor back-end
              apaixonado por tecnologia e inovação. Tenho 4 anos de experiência
              em programação, desenvolvendo aplicações robustas e escaláveis,
              tanto para desktop quanto para web. Além disso, faço parte do
              programa ONE (Oracle Next Education) pela Alura, onde aprimoro
              minhas habilidades em desenvolvimento.
            </p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <img
              class="img-fluid shadow"
              src="../static/img/marley.jpeg"
              alt="Foto do Marley"
              data-anime="left"
            />
          </div>
          <div class="col-md-8" data-anime="right">
            <h3>Cloud</h3>
            <p>
              Atualmente, estou aprofundando meus conhecimentos em Cloud
              Computing (AWS) e me preparando para a certificação AWS Cloud
              Practitioner.
            </p>

            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Niver: <span class="fw-lighter">13 de Março de 1976</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">48 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">Belo Horizonte</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Minas Gerais</span>
                  </li>
                </ul>
              </div>
              <!-- <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Futvolei</span></li>
                                <li class="list-group-item">Site: <a href="https://thicode.netlify.app/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">links.thicode</a></li>
                                <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Blue
                                        EdTech</a></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter"> +10
                                        anos</span></li>

                            </ul>
                        </div> -->
            </div>

            <!-- <p>Além de coordenar e lecionar desenvolvimento web fullstack, eu também compartilho conteúdo
                        gratuito no instagram, dando dicas de programação e carreira, e no YouTube, posto videos de
                        pequenos projetos, dicas de carreira, dicas de tecnologias, entre outros assuntos. Tudo isso
                        para tornar a programação cada vez mais acessível para todos!</p> -->
          </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Em todo tempo como profissional de tecnologia eu adquiri algumas
            habilidades técnicas e não técnicas, a maioria delas estão aqui, de
            acordo com a porcentagem de conhecimento que eu acredito ter em cada
            uma delas.
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  data-anime="left"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  60%
                </div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 55%"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  55%
                </div>
              </div>
              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 55%"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  55%
                </div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  70%
                </div>
              </div>
              <p class="mt-3 mb-0">Tkinter</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 45%"
                  aria-valuenow="45"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  45%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Git</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 55%"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  55%
                </div>
              </div>
              <p class="mt-3 mb-0">Cloud Computing</p>
              <div class="progress mb-3">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  50%
                </div>
              </div>
              <p class="mt-3 mb-0">NodeJs (Express)</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 40%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  40%
                </div>
              </div>
              <p class="mt-3 mb-0">Flask</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  60%
                </div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  60%
                </div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 95%"
                  aria-valuenow="95"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  95%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 85%"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  85%
                </div>
              </div>

              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 92%"
                  aria-valuenow="92"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  92%
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>

              <div class="cv-item" data-anime="up">
                <h4>AWS Re/Start</h4>
                <h5>2024</h5>
                <p><em>Escola da Nuvem</em></p>
                <p>
                  Fundamentos de AWS Cloud Computing Serviços AWS: EC2, S3, RDS,
                  IAM, VPC, Lambda, CloudFormation Bancos de Dados: MySQL, NoSQL
                  (DynamoDB) Linux e Redes: administração básica e segurança
                  Python para automação e aplicações em nuvem Metodologias Ágeis
                  e boas práticas DevOps.
                </p>
                <p>Duração: 320 horas.</p>
              </div>

              <div class="cv-item">
                <h4>Introdução à Programação - foco em Front-end</h4>
                <h5>2024</h5>
                <p><em>Proz Educação</em></p>
                <p>
                  Tecnologias: HTML, CSS, JavaScript Fundamentos de Programação
                  e Lógica Desenvolvimento de interfaces responsivas Boas
                  práticas e versionamento de código (Git/GitHub).
                </p>
                <p>Duração: primeiro semestre de 2024.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cv-item">
                <h4>Introdução à Ciência da Computação (CC50)</h4>
                <h5>2022</h5>
                <p><em>Harvard University (via edX)</em></p>
                <p>
                  Fundamentos da Computação e Algoritmos Estruturas de Dados e
                  Lógica de Programação Desenvolvimento em C, Python e SQL.
                </p>
                <p>Duração: 70 horas.</p>
              </div>
              <div class="cv-item">
                <h4>Bootcamp Programador de Software Iniciante</h4>
                <h5>2021</h5>
                <p>
                  <em>IGTI - Instituto e Gestão da Tecnologia da Informação</em>
                </p>
                <p>
                  Fundamentos da Programação e Algoritmos Lógica de Programação
                  e Estruturas de Dados Desenvolvimento de Aplicações.
                </p>
                <p>Duração: 148 horas.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">
          <h2 class="pb-4">Portfólio</h2>

          <div
            id="carouselPortfolio"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/01.jpeg"
                        class="card-img-top"
                        alt="Imagem MagnoTech 01"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Sistema MagnoTech</h5>
                        <p class="card-text">
                          Sistema de controle de estoque para a MagnoTech
                          utilizando Python e Tkinter. O sistema alerta os
                          usuários sobre produtos com estoque baixo,
                          destacando-os em amarelo claro para facilitar a
                          visualização e otimizar a gestão de suprimentos.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/03.jpeg"
                        class="card-img-top"
                        alt="Imagem Cozinha 20-03"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Site Cozinha 20</h5>
                        <p class="card-text">
                          Cozinha 20 - O sabor ao seu alcance!
                          <br>
                          Destaques do site: Receitas deliciosas e fáceis de seguir
                           Seção de receitas mais populares
                           Loja exclusiva com produtos selecionados
                           Interface moderna e intuitiva
                           Vídeos e artigos para inspirar suas criações.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/05.jpeg"
                        class="card-img-top"
                        alt="Imagem Cozinha 20-05"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Site Cozinha 20</h5>
                        <p class="card-text">
                          Cozinha 20 - O sabor ao seu alcance!
                          <br>
                          Destaques do site: Receitas deliciosas e fáceis de seguir
                           Seção de receitas mais populares
                           Loja exclusiva com produtos selecionados
                           Interface moderna e intuitiva
                           Vídeos e artigos para inspirar suas criações.
                        </p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="2000">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <img
                          src="../static/img/09.jpeg"
                          class="card-img-top"
                          alt="Imagem Pollan 09"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Sistema Web para Loja de Moda</h5>
                        <p class="card-text">
                          Desenvolvido com Flask e MySQL!
                          <br>
                          Acabei de finalizar um sistema web para gerenciamento de usuários,
                          produtos e pedidos para a Loys Pollan Modas! O projeto foi desenvolvido
                          utilizando Python, Flask, MySQL e Bootstrap, garantindo uma navegação intuitiva
                          e responsiva.
                          <br>
                          Funcionalidades:
                          Cadastro e login de usuários com autenticação de sessão
                          <br>
                          Exibição de produtos cadastrados no banco de dados
                          <br>
                          Carrinho de compras com cálculo de subtotal e total
                          <br>
                          Página de contato com envio de e-mails automatizado via SMTP
                          <br>
                          Sistema seguro com tratamento de erros e mensagens flash
                          <br>
                        </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img
                          src="../static/img/10.jpeg"
                          class="card-img-top"
                          alt="Imagem Pollan 10"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Sistema Web para Loja de Moda</h5>
                        <p class="card-text">
                          Desenvolvido com Flask e MySQL!
                          <br>
                          Acabei de finalizar um sistema web para gerenciamento de usuários,
                          produtos e pedidos para a Loys Pollan Modas! O projeto foi desenvolvido
                          utilizando Python, Flask, MySQL e Bootstrap, garantindo uma navegação intuitiva
                          e responsiva.
                          <br>
                          Funcionalidades:
                          Cadastro e login de usuários com autenticação de sessão
                          <br>
                          Exibição de produtos cadastrados no banco de dados
                          <br>
                          Carrinho de compras com cálculo de subtotal e total
                          <br>
                          Página de contato com envio de e-mails automatizado via SMTP
                          <br>
                          Sistema seguro com tratamento de erros e mensagens flash
                          <br>
                        </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img
                          src="../static/img/11.jpeg"
                          class="card-img-top"
                          alt="Imagem Pollan 11"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Sistema Web para Loja de Moda</h5>
                        <p class="card-text">
                          Desenvolvido com Flask e MySQL!
                          <br>
                          Acabei de finalizar um sistema web para gerenciamento de usuários,
                          produtos e pedidos para a Loys Pollan Modas! O projeto foi desenvolvido
                          utilizando Python, Flask, MySQL e Bootstrap, garantindo uma navegação intuitiva
                          e responsiva.
                          <br>
                          Funcionalidades:
                          Cadastro e login de usuários com autenticação de sessão
                          <br>
                          Exibição de produtos cadastrados no banco de dados
                          <br>
                          Carrinho de compras com cálculo de subtotal e total
                          <br>
                          Página de contato com envio de e-mails automatizado via SMTP
                          <br>
                          Sistema seguro com tratamento de erros e mensagens flash
                          <br>
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselPortfolio"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselPortfolio"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <section class="pt-5 pb-5" id="contato">
        <div class="container mb-5">
          <h2 class="pt-3 pb-3">Contato</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="tel">
                  <h4><i class="bi bi-telephone"></i> Whatsapp:</h4>
                  <p>(31) 98013-9754</p>
                </div>

                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                  <p>Belo Horizonte, MG</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240097.52707208827!2d-44.12886654997047!3d-19.90231756157176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa690cacacf2c33%3A0x5b35795e3ad23997!2sBelo%20Horizonte%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1739736828225!5m2!1spt-BR!2sbr"
                  width="200"
                  height="200"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  class="w-100"
                ></iframe>
              </div>
            </div>

            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      placeholder="Digite seu nome"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Digite seu email"
                      required
                    />
                  </div>

                  <div class="col-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="mensagem"
                      name="mensagem"
                      rows="10"
                      placeholder="Digite sua mensagem"
                      required
                    ></textarea>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button
                      id="btn-enviar"
                      type="submit"
                      class="btn btn-primary"
                    >
                      Enviar mensagem
                    </button>

                    <button
                      id="btn-enviar-loader"
                      class="btn btn-primary"
                      type="button"
                      disabled
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Enviando...
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div
        id="alerta"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </main>

    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Marley Paranhos</strong>
        </div>
      </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
