<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Dev Marley Paranhos</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/marley.jpeg" alt="Foto Marley" />
        <h1>Marley Paranhos</h1>
        <div class="social-links mt-4 text-center">
          <a href="https://www.linkedin.com/in/marley-paranhos" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/marley-paranhos" target="_blank">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#inicio"> <i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"> <i class="bi bi-person"></i> Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">
              <i class="bi bi-list-check"></i> Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-file-earmark"></i> Curriculo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-collection"></i> Portfólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-envelope"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Marley Paranhos</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Desenvolvedor Back-end</span
          >
        </div>

        <div
          class="col-md-7 d-flex flex-column justify-content-end align-items-end"
        >
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Olá! Meu nome é Marley Paranhos, sou um desenvolvedor back-end apaixonado por tecnologia e inovação.
              Tenho 4 anos de experiência em programação, desenvolvendo aplicações robustas e escaláveis,
              tanto para desktop quanto para web.
              Além disso, faço parte do programa ONE (Oracle Next Education) pela Alura,
              onde aprimoro minhas habilidades em desenvolvimento.
            </p>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4 mt-4">
                <img class="img-fluid shadow" src="../static/img/marley.jpeg" alt="Foto do Marley">
            </div>

            <div class="col-md-8 mt-4">
                <h3>Cloud Computing</h3>
                <p>Atualmente, estou aprofundando meus conhecimentos em Cloud Computing (AWS)
                  e me preparando para a certificação AWS Cloud Practitioner.</p>

                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                            <li class="list-group-item">
                                Nascimento: <span class="fw-lighter">13 de Março de 1976</span>
                            </li>
                            <li class="list-group-item">
                              <li class="list-group-item">
                                Idade: <span class="fw-lighter">48 anos</span>
                            </li>
                            <li class="list-group-item">
                              <li class="list-group-item">
                                Cidade: <span class="fw-lighter">Belo Horizonte</span>
                            </li>
                            <li class="list-group-item">
                              <li class="list-group-item">
                                Estado: <span class="fw-lighter">Minas Gerais</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>🎯 Objetivo Profissional
                  Meu objetivo é crescer na área de desenvolvimento back-end e cloud computing,
                  trabalhando em projetos inovadores e escaláveis. Estou sempre em busca de novos
                  desafios para aplicar meu conhecimento e contribuir para soluções eficientes.
                  <br>
                  📫 Vamos conversar? Estou aberto a novas oportunidades e desafios!</p>
                <p>
                  🚀 Experiência e Projetos
                  Desenvolvimento de Sistemas: Desenvolvi um sistema de controle de estoque para a MagnoTech utilizando Python e Tkinter. O sistema alerta os usuários sobre produtos com estoque baixo, destacando-os em amarelo claro para facilitar a visualização e otimizar a gestão de suprimentos.
                  Aplicações Web: Trabalho com Flask e SQLAlchemy, criando APIs e sistemas de cadastro/login com autenticação.
                  Banco de Dados: Experiência com MySQL e SQLite, desenvolvendo soluções eficientes para armazenar e gerenciar informações.
                  Deploy e Infraestrutura: Conhecimento em AWS e Render, com experiência no deploy de aplicações na nuvem.
                </p>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">🔥 Habilidades</h2>
          <p>✅ Linguagens e Frameworks: Python | Flask | SQLAlchemy</p>
          <p>✅ Banco de Dados: MySQL | SQLite</p>
          <p>✅ Front-end Básico: HTML | CSS | JavaScript</p>
          <p>✅ Cloud Computing: AWS (EC2, S3, RDS)</p>
          <p>✅ Desenvolvimento de APIs REST</p>
        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
