</div>
<h4 class="pt-5">Objetivos</h4>
<p>Meu objetivo é crescer na área de desenvolvimento back-end e cloud computing,
  trabalhando em projetos inovadores e escaláveis. Estou sempre em busca de novos
  desafios para aplicar meu conhecimento e contribuir para soluções eficientes.
  <br>
  Vamos conversar? Estou aberto a novas oportunidades e desafios!</p>

  <h4 class="pt-5">Experiência e Projetos</h4>

<p>
  Desenvolvimento de Sistemas: Desenvolvi um sistema de controle de estoque para a MagnoTech utilizando Python e Tkinter. O sistema alerta os usuários sobre produtos com estoque baixo, destacando-os em amarelo claro para facilitar a visualização e otimizar a gestão de suprimentos.
  Aplicações Web: Trabalho com Flask e SQLAlchemy, criando APIs e sistemas de cadastro/login com autenticação.
  Banco de Dados: Experiência com MySQL e SQLite, desenvolvendo soluções eficientes para armazenar e gerenciar informações.
  Deploy e Infraestrutura: Conhecimento em AWS e Render, com experiência no deploy de aplicações na nuvem.
</p>
</div>